.app {
  text-align: center;
  background-color: grey;
  height: 100vh;
  overflow: hidden;
}

.appHeader {
  background-color: royalblue;
  height: 5vh;
  line-height: 5vh;
  float: top;
  width: 100%;
}

.appLogo {
  height: 5vh;
  width: 5vh;
  float: left;
}

.headerText {
  color: white;
  width: 10vw;
  padding-left: calc(50vw - 5vh);
  text-align: left;
}

.appLink {
  color: #61dafb;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  text-align: center;
  height: 3vh;
  padding-left: 38vw;
}

li {
  float: left;
  width: 8vw
}

li a:hover {
  background-color: #111111;
}

li a {
  padding: 2%;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
}